<!DOCTYPE html>
<html>
  <head>
    <title>互动教室</title>
    <!-- meta data todo-->
    <!-- meta data -->
    <link rel='stylesheet' href='/css/lib/bootstrap.css' />
    <!--[if lt IE 8]>
        <link rel='stylesheet' href='/css/lib/bootstrap-ie7.css' />
    <![endif]-->


    <link rel='stylesheet' href='/css/index.css' />
  </head>
  <body>

    <div class="header-wrapper">      
      <header class="container-fluid header">
      	<div class="row">
      		<div class="col-md-4 logo-wrapper">
      			<div class="logo">
      				<a href="XXX"><img width="60" height="" src="/img/logo.png" alt="logo"></a>
      			</div>
      			<div class="text">
      				<a href="XXXX">
      					<span class="word">极动教室</span>
      					<span class="url">www.173course.com</span>
      				</a>
      			</div>
      		</div>
      		<div class="col-md-6 nav-wrapper">
      			<ul class="nav nav-main">
      			  <li class="active"><a href="#">互动首页</a></li>
      			  <li><a href="#">课程中心</a></li>
      			  <li><a href="#">教室广场</a></li>
      			  <li><a href="#">极动社团</a></li>
      			</ul>
      		</div>
      		<div class="col-md-2 login-wrapper">
      			<span class="glyphicon glyphicon-user"></span>
      			<span class="login">登陆</span>
      			<span class="register">注册</span>
      		</div>
      	</div>
      </header>
    </div>
    <div class="carridor">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4">
            <div class="searcher">
            	<ul class="nav nav-tabs" role="tablist">
            	  <li class="active">
            	  	<a href="#course-searcher" role="tab" data-toggle="tab">课程</a>
            	  </li>
            	  <li class="">
            	  	<a href="#training-searcher" role="tab" data-toggle="tab">培训机构</a>
            	  </li>
            	  <li class="">
            	    <a role="tab" data-toggle="tab" href="#organization-searcher">社团</a>    
            	  </li>
            	  <li class="">
            	    <a role="tab" data-toggle="tab" href="#talking-searcher">主题讨论</a>    
            	  </li>
            	</ul>
            	<div class="tab-content">
            	  <div class="tab-pane fade active in" id="course-searcher">    
            	  	<input type="text" class="search-text" placeholder="请输入课题名称、主题、关键词···">
            	  	<a href="#" class="search-button btn btn-primary btn-lg">
            	  		<span class="glyphicon glyphicon-search"></span>
            	  		<span>搜一搜</span>
            	  	</a>
            	  	<ol class="new-list">
            	  		<li class="new-item caption">新课推荐:</li>
            	  		<li class="new-item"><a href="#">沙画</a></li>
            	  		<li class="new-item"><a href="#">剑击</a></li>
            	  		<li class="new-item"><a href="#">魔术</a></li>
            	  		<li class="new-item"><a href="#">竖琴</a></li>
            	  		<li class="new-item"><a href="#">非洲鼓</a></li>
            	  		<li class="new-item"><a href="#">印度舞</a></li>
            	  	</ol>
            	  </div>
            	  <div class="tab-pane fade" id="training-searcher">
            	  	
            	  </div>
            	  <div class="tab-pane fade" id="#organization-searcher">
            	    
            	  </div>
            	  <div class="tab-pane fade" id="#talking-searcher">
            	    
            	  </div>
            	</div>

            </div>
          </div>
          <div class="col-md-8">

          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid recommander">
      <div class="row">
        <div class="col-md-10">

        </div>
        <div class="col-md-2">

        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <img src="XXX" alt="banner" class="banner">
          <span class="discription">精彩主题讨论</span>
        </div>
      </div>
    </div>

    <div class="container-fluid organization">
      <div class="row">
        <div class="col-md-10">

        </div>
        <div class="col-md-2">

        </div>
      </div>
    </div>



    <script type="text/javascript" src="/js/lib/modernizr.js"></script>
    <script type="text/javascript" src="/js/lib/jquery.js"></script>
    <script type="text/javascript" src="/js/lib/bootstrap.js"></script>
    <script type="text/javascript" src="/js/lib/doT.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
  </body>
</html>