<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>极动教室</title>
<meta name="Keywords" content="" />
<meta name="Description" content="" />
<link href="/css/public.css" rel="stylesheet" type="text/css">
<link href="/css/member.css" rel="stylesheet" type="text/css">
<script type="text/javascript">
    {{#setting}}
    var setting = {
      "messageUrl": "{{messageUrl}}",
    };
    {{/setting}}
</script>
</head>
<body>

<!--页头开始-->
<!-- 页头 -->
{{#header}}
<div class="top">
  <div class="box">
    <div class="logo"><img src="/img/logo_text.png" width="211" height="59"></div>
    <div class="nav">
      <ul>
        <li class="nav_focus"><a href="{{linkIndex}}">极动首页</a></li>
        <li><a href="{{linkCourse}}">课程中心</a></li>
        <li><a href="{{linkClassRoom}}">教室广场</a></li>
        <li><span class="new"></span><a href="{{linkOrganization}}">极动社团</a></li>
      </ul>
    </div>
    {{#isLogin}}
    <div class="Login">
      <span class="name">您好，{{username}}</span>{{/isLogin}}
    </div>
    {{^isLogin}}
    <div class="Login"><a href="{{linkLogin}}">登录</a><a href="{{linkRegister}}" class="none-b">注册</a></div>
    {{/isLogin}}
  </div>
</div>
{{/header}}
<div class="fn">
  <div class="box">
    <div class="crumbs">
      {{#crumbs}}
      <a href="{{link}}">{{desc}}</a>
      {{/crumbs}}
    </div>
    {{#searcher}}
    <div class="s_btn"><a href="{{linkSearch}}">搜一搜</a></div>
    <div class="search_box">
      <dl class="select1">
        <dt>分类</dt>
        <dd>
          <ul>
            <li><a href="javascrip:;" data-type="course">课程</a></li>
            <li><a href="javascrip:;" data-type="training">培训机构</a></li>
            <li><a href="javascrip:;" data-type="organization">社团</a></li>
            <li><a href="javascrip:;" data-type="discussion">主题讨论</a></li>
          </ul>
        </dd>
      </dl>
      <input title="请输入课程名称，主题或感兴趣的" type="text" class="s_a" value="请输入课程名称，主题或感兴趣的" onfocus="if(this.value == '请输入课程名称，主题或感兴趣的'){this.value = '';this.className = 's_b';}else{this.className = 's_b';}"
                                    onblur="if(this.value == ''){this.value = '请输入课程名称，主题或感兴趣的';this.className = 's_a';}else{this.className = 's_b';}" />
    </div>
    {{/searcher}}
  </div>
</div>
<!-- 页头 -->

<!--页头结束-->

<div class="member">
  {{#leftMenu}}
  <div class="left">
    <div class="m1">
      <p><img src="/img/member_icon.png" width="120" height="120"></p>
      <p>{{username}}</p>
    </div>
    <div class="m2">
      <div class="m2_l">
        <p class="m2_t">{{fans}}</p>
        <p>粉丝</p>
      </div>
      <div class="m2_r">
        <p class="m2_t">{{follow}}</p>
        <p>关注</p>
      </div>
    </div>
    <div class="m3">
      <ul>
        <li>
          <p class="m_icon1"><a href="{{mybook}}">我的预约</a></p>
        </li>
        <li>
          <p class="m_icon2"><a href="{{myfav}}">我的收藏</a></p>
        </li>
        <li>
          <p class="m_icon3"><a href="{{mycomment}}">我的评论</a></p>
        </li>
        <li>
          <p class="m_icon4"><a href="{{mygroup}}">我的社团</a></p>
        </li>
        <li>
          <p class="m_icon5"><a href="{{setup}}">个人设置</a></p>
        </li>
        <li  class="m3_hover">
          <p class="m_icon6"><a href="{{message}}">消息公告</a></p>
        </li>
      </ul>
    </div>
  </div>
  {{/leftMenu}}
  <div class="right">
    {{#noticeTop}}
    <div class="me1">
      <p class="e1">消息公告</p>
      <p class="e2">您有<em><a href="#">{{notRead}}</a></em>条未读消息</p>
      <p class="e4">系统消息：<em><a href="#">{{sysMessage}}</a></em>条</p>
      <p class="e3">私人消息：<em><a href="#">{{comment}}</a></em>条</p>
    </div>
    {{/noticeTop}}
    <div class="e5">
      <div class="t1">消息</div>
      <div class="t2">&nbsp;</div>
      <div class="t3">类型</div>
      <div class="t4">时间</div>
      <div class="t5"></div>
    </div>
    <div id="msg-list">

    </div>
    
    <div class="digg"><span class="disabled">&lt;&lt;首页</span><span class="disabled">&lt;上一页</span><span class="current">1</span><a href="#">2</a><a href="#">3</a><a href="#">下一页&gt;</a><a href="#">尾页&gt;&gt;</a></div>
    
    
        
  </div>
</div>

<!--页尾开始-->
<div class="link"> 友情链接：<a href="#" target="_blank">网易企业邮箱</a><a href="#" target="_blank">网易彩票</a><a href="#" target="_blank">网易优惠券</a><a href="#" target="_blank">企业黄页</a> </div>
<div class="foot_box">
  <div class="foot">
    <div class="left"><a href="#" target="_blank">关于我们</a>- <a href="#" target="_blank">公司简介</a>- <a href="#" target="_blank">联系方式</a>- <a href="#" target="_blank">招聘信息</a>- <a href="#" target="_blank">客户服务</a>- <a href="#" target="_blank">相关法律</a>- <a href="#" target="_blank">网络营销</a>- <a href="#" target="_blank">网站地图</a>- <a href="#" target="_blank">用户体验升级计划</a></div>
    <div class="right">©1997-2014 极动教室版权所有</div>
  </div>
</div>

<!--页尾结束--> 

<script type="text/javascript" src="/js/lib/jquery.pack.js"></script> 
<script type="text/javascript"  src="/js/parameter.js"></script>
<script type="text/javascript" src="/js/lib/doT.js"></script>
<script type="text/javascript"  src="/js/member.js"></script>
</body>
</html>
