<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>极动教室</title>
<meta name="Keywords" content="" />
<meta name="Description" content="" />
<link href="/css/public.css" rel="stylesheet" type="text/css">
<link href="/css/course.css" rel="stylesheet" type="text/css">
</head>
<body>

<!--页头开始-->
<!-- 页头 -->
{{#header}}
<div class="top">
  <div class="box">
    <div class="logo"><img src="/img/logo_text.png" width="211" height="59"></div>
    <div class="nav">
      <ul>
        <li class="nav_focus"><a href="{{linkIndex}}">极动首页</a></li>
        <li><a href="{{linkCourse}}">课程中心</a></li>
        <li><a href="{{linkClassRoom}}">教室广场</a></li>
        <li><span class="new"></span><a href="{{linkOrganization}}">极动社团</a></li>
      </ul>
    </div>
    {{#isLogin}}
    <div class="Login">
      <span class="name">您好，{{username}}</span>{{/isLogin}}
    </div>
    {{^isLogin}}
    <div class="Login"><a href="{{linkLogin}}">登录</a><a href="{{linkRegister}}" class="none-b">注册</a></div>
    {{/isLogin}}
  </div>
</div>
{{/header}}
<div class="fn">
  <div class="box">
    <div class="crumbs">
      {{#crumbs}}
      <a href="{{link}}">{{desc}}</a>
      {{/crumbs}}
    </div>
    {{#searcher}}
    <div class="s_btn"><a href="{{linkSearch}}">搜一搜</a></div>
    <div class="search_box">
      <dl class="select1">
        <dt>分类</dt>
        <dd>
          <ul>
            <li><a href="javascrip:;" data-type="course">课程</a></li>
            <li><a href="javascrip:;" data-type="training">培训机构</a></li>
            <li><a href="javascrip:;" data-type="organization">社团</a></li>
            <li><a href="javascrip:;" data-type="discussion">主题讨论</a></li>
          </ul>
        </dd>
      </dl>
      <input title="请输入课程名称，主题或感兴趣的" type="text" class="s_a" value="请输入课程名称，主题或感兴趣的" onfocus="if(this.value == '请输入课程名称，主题或感兴趣的'){this.value = '';this.className = 's_b';}else{this.className = 's_b';}"
                                    onblur="if(this.value == ''){this.value = '请输入课程名称，主题或感兴趣的';this.className = 's_a';}else{this.className = 's_b';}" />
    </div>
    {{/searcher}}
  </div>
</div>
<!-- 页头 -->

<!--页头结束-->

<div class="register">
  <div class="left">
    <div class="re_top" style="background-image:url(../img/register_bg1.png)">
      <div class="r_b">1、填写用户信息 </div>
      <div class="r_a">2、完成账户信息验证 </div>
    </div>
    <div class="o5">
      <div class="O_a">
        <p>您的账户已成功提交，请您登录注册邮箱进行信息验证</p>
        <p><a href="#" target="_blank"><img src="/img/btn_b.png" width="160" height="42"></a></p>
      </div>
      <div class="O_b">
        <p class="O_c">还没有收到确认邮件？</p>
        <ol>
          <li>可以点击这里<a href="#">重新发送邮件</a></li>
          <li>可以尝试到垃圾邮件里找找看</li>
          <li>邮箱地址写错了？很抱歉，您需要重新<a href="#">注册</a></li>
        </ol>
      </div>
    </div>
  </div>
  <div class="right">
    <p class="o2">免注册快速登录通道</p>
    <p class="o3"><a href="#"><img src="/img/QQ.png" width="127" height="24"></a></p>
    <p class="o3"><a href="#"><img src="/img/wb.png" width="126" height="24"></a></p>
    <p class="o4"><a href="#">已有账户？请登录</a></p>
  </div>
</div>

<!--页尾开始-->
<div class="link"> 友情链接：<a href="#" target="_blank">网易企业邮箱</a><a href="#" target="_blank">网易彩票</a><a href="#" target="_blank">网易优惠券</a><a href="#" target="_blank">企业黄页</a> </div>
<div class="foot_box">
  <div class="foot">
    <div class="left"><a href="#" target="_blank">关于我们</a>- <a href="#" target="_blank">公司简介</a>- <a href="#" target="_blank">联系方式</a>- <a href="#" target="_blank">招聘信息</a>- <a href="#" target="_blank">客户服务</a>- <a href="#" target="_blank">相关法律</a>- <a href="#" target="_blank">网络营销</a>- <a href="#" target="_blank">网站地图</a>- <a href="#" target="_blank">用户体验升级计划</a></div>
    <div class="right">©1997-2014 极动教室版权所有</div>
  </div>
</div>

<!--页尾结束--> 


<script type="text/javascript"  src="/js/lib/jquery.pack.js"></script> 
<script type="text/javascript"  src="/js/parameter.js"></script>
</body>
</html>
