<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>极动教室</title>
<meta name="Keywords" content="" />
<meta name="Description" content="" />
<link href="{{path}}/css/public.css" rel="stylesheet" type="text/css">
<link href="{{path}}/css/course.css" rel="stylesheet" type="text/css">

<script type="text/javascript">
        {{#setting}}
        var setting = {
          "getCodeUrl": "{{getCodeUrl}}",       
          "sendMailUrl": "{{sendMailUrl}}"
        };
        {{/setting}}
</script>

</head>
<body>

<!--页头开始-->

{{> text_header}}
<!--页头结束-->

<div class="back">
  <div class="left"></div>
  <div class="right">
    <div class="text_box">
      <p class="t_l" style="width:90px"><em>*</em>登录邮箱：</p>
      <p class="t_c">
        <input name="" id="mail" required type="email" class="r_text" placeholder="请输入登录邮箱">
      </p>
      <p class="t_r"> </p>
    </div>
    <div class="text_box">
      <p class="t_l"  style="width:90px"><em>*</em>验证码：</p>
      <p class="t_c">
        <input name="input2" id="code" type="text" class="r_text" style="width:80px">
      </p>
      <p class="t_r"><img id="identify-code" src="" width="93" height="30"></p>
      <span class="o1"><a href="#" id="btn-change">换一换</a></span></div>
    <div class="text_box">
      <p class="t_l" style="width:20px">&nbsp;</p>
      <p class="t_c"><span class="btn_s1"><a id="btn-send" href="#">发送验证邮件并前往邮箱</a></span></p>
      <p class="t_r"> </p>
    </div>
    <div class="O_b">
      <p class="O_c">还没有收到确认邮件？</p>
      <ol>
        <li>可以点击这里<a href="#">重新发送邮件</a></li>
        <li>可以尝试到垃圾邮件里找找看</li>
        <li>邮箱地址写错了？很抱歉，您需要重新<a href="#">注册</a></li>
      </ol>
    </div>
  </div>
</div>
<!-- 页脚 -->
{{> text_footer}}
<!-- 页脚 -->
<script type="text/javascript"  src="{{path}}/js/lib/jquery.pack.js"></script> 
<script type="text/javascript"  src="{{path}}/js/parameter.js"></script>
<script type="text/javascript"  src="{{path}}/js/back_password.js"></script>

</body>
</html>
