<!DOCTYPE html>
<html>
  <head>
    <title>互动教室</title>
    <!-- meta data todo-->
    <!-- meta data -->
    {{> lib_css}}
    <link rel='stylesheet' href='/css/index.css' />
    <!--[if lt IE 8]>
      <link rel='stylesheet' href='/css/index_ie6.css' />
    <![endif]-->
  </head>
  <body>

    {{> header}}

    

    <div class="container-fluid recommander">
      <div class="row">
        <div class="col-md-10">
          {{> item_list}}
        </div>
        <div class="col-md-2">
          {{> ranking_list}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <img src="http://img.yacol.com/export/sites/yacol/life/images/bjjy1.jpg" alt="banner" class="banner">
        </div>
      </div>
    </div>

    
    {{> lib_js}}
    <script type="text/javascript" src="/js/index.js"></script>
  </body>
</html>