<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>极动教室</title>
<meta name="Keywords" content="" />
<meta name="Description" content="" />
<link href="{{path}}/css/public.css" rel="stylesheet" type="text/css">
<link href="{{path}}/css/member.css" rel="stylesheet" type="text/css">
</head>
<body>

<!--页头开始-->
{{> text_header}}
<!--页头结束-->

<div class="member">
  <div class="left">
    <div class="m1">
      <p><img src="/img/member_icon.png" width="120" height="120"></p>
      <p>黄小雄</p>
    </div>
    <div class="m2">
      <div class="m2_l">
        <p class="m2_t">55686</p>
        <p>粉丝</p>
      </div>
      <div class="m2_r">
        <p class="m2_t">185</p>
        <p>关注</p>
      </div>
    </div>
    <div class="m3">
      <ul>
        <li   class="m3_hover">
          <p class="m_icon1"><a href="member_course.html">我的预约</a></p>
        </li>
        <li>
          <p class="m_icon2"><a href="#">我的收藏</a></p>
        </li>
        <li>
          <p class="m_icon3"><a href="#">我的评论</a></p>
        </li>
        <li>
          <p class="m_icon4"><a href="#">我的社团</a></p>
        </li>
        <li>
          <p class="m_icon5"><a href="member_setup.html">个人设置</a></p>
        </li>
        <li>
          <p class="m_icon6"><a href="member.html">消息公告</a></p>
        </li>
      </ul>
    </div>
  </div>
  <div class="right">
    <div class="me1">
      <p class="e1">我预约的体验课程</p>
    </div>
    <div class="e5">
      <div class="t11">预约课程</div>
      <div class="t22">培训机构 </div>
      <div class="t33">日期</div>
      <div class="t44">时间</div>
      <div class="t55">电话</div>
    </div>
    <div class="wo_box">
      <p class="wo1"><a href="#">儿童钢琴课程</a></p>
      <p class="wo2"><a href="#">刘诗昆钢琴艺术中心</a></p>
      <p class="wo3">2014-5-1</p>
      <p class="wo4">10：00-11：00</p>
      <p class="wo5">13912345678<br>
        020-875589899</p>
    </div>
    <div class="wo_box">
      <p class="wo1"><a href="#">儿童钢琴课程</a></p>
      <p class="wo2"><a href="#">刘诗昆钢琴艺术中心</a></p>
      <p class="wo3">2014-5-1</p>
      <p class="wo4">10：00-11：00</p>
      <p class="wo5">13912345678<br>
        020-875589899</p>
    </div>
    <div class="wo_box">
      <p class="wo1"><a href="#">儿童钢琴课程</a></p>
      <p class="wo2"><a href="#">刘诗昆钢琴艺术中心</a></p>
      <p class="wo3">2014-5-1</p>
      <p class="wo4">10：00-11：00</p>
      <p class="wo5">13912345678<br>
        020-875589899</p>
    </div>
    <div class="wo_box">
      <p class="wo1"><a href="#">儿童钢琴课程</a></p>
      <p class="wo2"><a href="#">刘诗昆钢琴艺术中心</a></p>
      <p class="wo3">2014-5-1</p>
      <p class="wo4">10：00-11：00</p>
      <p class="wo5">13912345678<br>
        020-875589899</p>
    </div>
    <div class="wo_box">
      <p class="wo1"><a href="#">儿童钢琴课程</a></p>
      <p class="wo2"><a href="#">刘诗昆钢琴艺术中心</a></p>
      <p class="wo3">2014-5-1</p>
      <p class="wo4">10：00-11：00</p>
      <p class="wo5">13912345678<br>
        020-875589899</p>
    </div>
    <div class="wo_box">
      <p class="wo1"><a href="#">儿童钢琴课程</a></p>
      <p class="wo2"><a href="#">刘诗昆钢琴艺术中心</a></p>
      <p class="wo3">2014-5-1</p>
      <p class="wo4">10：00-11：00</p>
      <p class="wo5">13912345678<br>
        020-875589899</p>
    </div>
    <div class="wo_box">
      <p class="wo1"><a href="#">儿童钢琴课程</a></p>
      <p class="wo2"><a href="#">刘诗昆钢琴艺术中心</a></p>
      <p class="wo3">2014-5-1</p>
      <p class="wo4">10：00-11：00</p>
      <p class="wo5">13912345678<br>
        020-875589899</p>
    </div>
    <div class="wo_box">
      <p class="wo1"><a href="#">儿童钢琴课程</a></p>
      <p class="wo2"><a href="#">刘诗昆钢琴艺术中心</a></p>
      <p class="wo3">2014-5-1</p>
      <p class="wo4">10：00-11：00</p>
      <p class="wo5">13912345678<br>
        020-875589899</p>
    </div>
    <div class="wo_box">
      <p class="wo1"><a href="#">儿童钢琴课程</a></p>
      <p class="wo2"><a href="#">刘诗昆钢琴艺术中心</a></p>
      <p class="wo3">2014-5-1</p>
      <p class="wo4">10：00-11：00</p>
      <p class="wo5">13912345678<br>
        020-875589899</p>
    </div>
    <div class="wo_box">
      <p class="wo1"><a href="#">儿童钢琴课程</a></p>
      <p class="wo2"><a href="#">刘诗昆钢琴艺术中心</a></p>
      <p class="wo3">2014-5-1</p>
      <p class="wo4">10：00-11：00</p>
      <p class="wo5">13912345678<br>
        020-875589899</p>
    </div>
    <div class="wo_box">
      <p class="wo1"><a href="#">儿童钢琴课程</a></p>
      <p class="wo2"><a href="#">刘诗昆钢琴艺术中心</a></p>
      <p class="wo3">2014-5-1</p>
      <p class="wo4">10：00-11：00</p>
      <p class="wo5">13912345678<br>
        020-875589899</p>
    </div>
    <div class="digg"><span class="disabled">&lt;&lt;首页</span><span class="disabled">&lt;上一页</span><span class="current">1</span><a href="#">2</a><a href="#">3</a><a href="#">下一页&gt;</a><a href="#">尾页&gt;&gt;</a></div>
  </div>
</div>

<!--页尾开始-->
<div class="link"> 友情链接：<a href="#" target="_blank">网易企业邮箱</a><a href="#" target="_blank">网易彩票</a><a href="#" target="_blank">网易优惠券</a><a href="#" target="_blank">企业黄页</a> </div>
<div class="foot_box">
  <div class="foot">
    <div class="left"><a href="#" target="_blank">关于我们</a>- <a href="#" target="_blank">公司简介</a>- <a href="#" target="_blank">联系方式</a>- <a href="#" target="_blank">招聘信息</a>- <a href="#" target="_blank">客户服务</a>- <a href="#" target="_blank">相关法律</a>- <a href="#" target="_blank">网络营销</a>- <a href="#" target="_blank">网站地图</a>- <a href="#" target="_blank">用户体验升级计划</a></div>
    <div class="right">©1997-2014 极动教室版权所有</div>
  </div>
</div>

<!--页尾结束--> 

<script type="text/javascript" src="/js/lib/jquery.pack.js"></script> 
<script type="text/javascript"  src="/js/parameter.js"></script>
</body>
</html>
