<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>极动教室</title>
<meta name="Keywords" content="" />
<meta name="Description" content="" />
<link href="{{path}}/css/public.css" rel="stylesheet" type="text/css">
<link href="{{path}}/css/member.css" rel="stylesheet" type="text/css">
<script type="text/javascript">
    {{#setting}}
    var setting = {
      "messageUrl": "{{messageUrl}}",
    };
    {{/setting}}
</script>
</head>
<body>

<!--页头开始-->
{{> text_header}}
<!--页头结束-->
<div class="member">
  {{#leftMenu}}
  <div class="left">
    <div class="m1">
      <p><img src="/img/member_icon.png" width="120" height="120"></p>
      <p>{{username}}</p>
    </div>
    <div class="m2">
      <div class="m2_l">
        <p class="m2_t">{{fans}}</p>
        <p>粉丝</p>
      </div>
      <div class="m2_r">
        <p class="m2_t">{{follow}}</p>
        <p>关注</p>
      </div>
    </div>
    <div class="m3">
      <ul>
        <li>
          <p class="m_icon1"><a href="{{mybook}}">我的预约</a></p>
        </li>
        <li>
          <p class="m_icon2"><a href="{{myfav}}">我的收藏</a></p>
        </li>
        <li>
          <p class="m_icon3"><a href="{{mycomment}}">我的评论</a></p>
        </li>
        <li>
          <p class="m_icon4"><a href="{{mygroup}}">我的社团</a></p>
        </li>
        <li>
          <p class="m_icon5"><a href="{{setup}}">个人设置</a></p>
        </li>
        <li  class="m3_hover">
          <p class="m_icon6"><a href="{{message}}">消息公告</a></p>
        </li>
      </ul>
    </div>
  </div>
  {{/leftMenu}}
  <div class="right">
    {{#noticeTop}}
    <div class="me1">
      <p class="e1">消息公告</p>
      <p class="e2">您有<em><a href="#">{{notRead}}</a></em>条未读消息</p>
      <p class="e4">系统消息：<em><a href="#">{{sysMessage}}</a></em>条</p>
      <p class="e3">私人消息：<em><a href="#">{{comment}}</a></em>条</p>
    </div>
    {{/noticeTop}}
    <div class="e5">
      <div class="t1">消息</div>
      <div class="t2">&nbsp;</div>
      <div class="t3">类型</div>
      <div class="t4">时间</div>
      <div class="t5"></div>
    </div>
    <div id="msg-list">

    </div>
    
    <div class="digg">
    <!-- <span class="disabled">&lt;&lt;首页</span><span class="disabled">&lt;上一页</span><span class="current">1</span><a href="#">2</a><a href="#">3</a><a href="#">下一页&gt;</a><a href="#">尾页&gt;&gt;</a> -->
    </div>
    
    
        
  </div>
</div>

{{> text_footer}}

<script type="text/javascript" src="{{path}}/js/lib/jquery.pack.js"></script> 
<script type="text/javascript"  src="{{path}}/js/parameter.js"></script>
<script type="text/javascript" src="{{path}}/js/lib/doT.js"></script>
<script type="text/javascript"  src="{{path}}/js/member.js"></script>
</body>
</html>
