<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>极动教室</title>
<meta name="Keywords" content="" />
<meta name="Description" content="" />
<link href="{{path}}/css/public.css" rel="stylesheet" type="text/css">
<link href="{{path}}/css/course.css" rel="stylesheet" type="text/css">
<script type="text/javascript">
  {{#setting}}
  var setting = {
    "resendUrl": "{{resendUrl}}" /*重发邮件接口*/
  }
  {{/setting}}
</script>
</head>
<body>

<!--页头开始-->
{{> text_header}}
<!--页头结束-->

<div class="register">
  <div class="left">
    <div class="re_top" style="background-image:url(../img/register_bg1.png)">
      <div class="r_b">1、填写用户信息 </div>
      <div class="r_a">2、完成账户信息验证 </div>
    </div>
    <div class="o5">
      <div class="O_a">
        <p>您的账户已成功提交，请您登录注册邮箱进行信息验证</p>
        <p><a href="{{linkEMail}}" target="_blank"><img src="/img/btn_b.png" width="160" height="42"></a></p>
      </div>
      <div class="O_b">
        <p class="O_c">还没有收到确认邮件？</p>
        <ol>
          <li>可以点击这里<a id="resend" href="#">重新发送邮件</a></li>
          <li>可以尝试到垃圾邮件里找找看</li>
          <li>邮箱地址写错了？很抱歉，您需要重新<a href="{{header.linkRegister}}">注册</a></li>
        </ol>
      </div>
    </div>
  </div>

  {{> text_sns}}
</div>

{{> text_footer}}


<script type="text/javascript"  src="{{path}}/js/lib/jquery.pack.js"></script> 
<script type="text/javascript"  src="{{path}}/js/parameter.js"></script>
<script type="text/javascript"  src="{{path}}/js/register_authentication.js"></script>
</body>
</html>
