@charset "utf-8";
@import "varable";
@import "carousel_ie6";
@import "searcher_ie6";
@import "item_list_ie6";
@import "footer_ie6";

* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
.list, .c-list, .r-list {
	margin-left: 0;
}
.ranking-list {
	.category {
		margin-top: 30px * $size-unit;
	}
}
