@import "basic";
@import "varable";
@import "header";
@import "searcher";
@import "carousel";
@import "item_list";
@import "ranking_list";
@import "footer";

$light-blue: rgb(207,224,234);

.carridor {
	background: $light-blue;
}
.searcher {
	margin: 48px * $size-unit 0 0;
}
.recommander {
	margin-top: 24px * $size-unit;
}
.item-list {
	width: 93%;
}
.ranking-list {
	width: 137%;
	margin-left: -48%;
}
.organization {
	margin-top: 35px * $size-unit;
	padding-top: 30px * $size-unit;
	background: $grey-color;
}
.banner {
	width: 100%;
	height: 90px * $size-unit;
}