<div class="footer container-fluid">
	<div class="row">
		<div class="partner col-md-12">
			<h2 class="caption">品牌战略合作伙伴</h2>
			
			<div class="banner ">
				<p class="desc">
					<span>目前已有</span>
					<span class="num">86321</span>
					<span>位合作伙伴加入了极动教室</span>
				</p>				
				<div class="contact-us">
					联系我们
					<span class="glyphicon glyphicon-chevron-right"></span>
				</div>
			</div>
			
			<ul class="list clearfix">
				<li><img src="/img/test_banner.png" alt="partner"></li>
				<li><img src="/img/test_banner.png" alt="partner"></li>
				<li><img src="/img/test_banner.png" alt="partner"></li>
				<li><img src="/img/test_banner.png" alt="partner"></li>
				<li><img src="/img/test_banner.png" alt="partner"></li>
				<li><img src="/img/test_banner.png" alt="partner"></li>
				<li><img src="/img/test_banner.png" alt="partner"></li>

			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 footer-text">
			<p class="copyright">© 2005－2014 XXX.com, all rights reserved p>
			<p class="permission">京ICP证090015号 京ICP备11027288号 网络视听许可证0110418号</p>
			<p>文网文[2012]0704-231号  京公网安备110105000728  新出网证(京)字129号</p>
			<p class="links">
				<a class="link" href="#">联系我们</a>
				<a class="link" href="#">免责声明</a>
				<a class="link" href="#">帮助中心</a>
			</p>
		</div>
	</div>
</div>	