<div class="top-style"></div>
<div class="header">          
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4 logo-wrapper">
				<div class="logo">
					<a href="XXX"><img src="/img/logo.png" alt="logo"></a>
				</div>
				<div class="text">
					<a href="XXXX">
						<span class="word">极动教室</span>
						<span class="url">www.173course.com</span>
					</a>
				</div>
			</div>
			<div class="col-md-5 nav-wrapper">
				<ul class="nav nav-main clearfix">
				  <li class="active"><span class="active-top"></span><a href="#">互动首页</a></li>
				  <li><span class="active-top"></span><a href="#">课程中心</a></li>
				  <li><span class="active-top"></span><a href="#">教室广场</a></li>
				  <li><span class="active-top"></span><a href="#">极动社团</a></li>
				</ul>
			</div>
			<div class="col-md-3 login-wrapper clearfix">
				<span class="register">注册</span>
				<span class="login">登陆</span>
				<span class="glyphicon glyphicon-user"></span>
			</div>
		</div>
	</div>
</div>
