{{#items}}
<div class="item-list">
	<div class="clearfix category-wrapper">
		<p class="caption"></p>
		<ol class="category">
			{{#list}}
			<li class="c-item">
				<a href="{{link}}" target="_blank" data-value="{{type}}">{{name}}</a>
			</li>				
			{{/list}}						
			<!-- <li class="c-item">
				<a href="#" data-key="{$param_name}" data-value="{$param_value}">类别2</a>
			</li> -->			
			{{#more}}
			<li class="c-item more"> 
				<a href="{{link}}" target="_blank">更多》</a>
			</li>
			{{/more}}
		</ol>
	</div>
	<ol class="list i-list clearfix">	
			<li class="item"><div class="image-wrapper"><a target="_blank" href="#"><img src="http://img.yacol.com/export/sites/yacol/life/images/bjjy1.jpg" alt="梵高教你星夜8"></a><div class="name clearfix"><span class="text">梵高教你星夜8</span>
			<span class="stars stars-4 clearfix">

			<span class="star-black"></span>
			<span class="star-yellow"></span>
			</span></div></div><div class="desc"><p class="teacher">授课老师：黄小雄8</p><p class="stu-num">报名人数：<span>2592</span>人</p></div></li>
			<li class="item"><div class="image-wrapper"><a target="_blank" href="#"><img src="http://img.yacol.com/export/sites/yacol/life/images/bjjy1.jpg" alt="梵高教你星夜8"></a><div class="name clearfix"><a href="#"><span class="text">梵高教你星夜8</span><span class="stars stars-4 clearfix"><span class="star-black"></span><span class="star-yellow"></span></span></a></div></div><div class="desc"><p class="teacher">授课老师：黄小雄8</p><p class="stu-num">报名人数：<span>2592</span>人</p></div></li>
			<li class="item"><div class="image-wrapper"><a target="_blank" href="#"><img src="http://img.yacol.com/export/sites/yacol/life/images/bjjy1.jpg" alt="梵高教你星夜8"></a><div class="name clearfix"><a href="#"><span class="text">梵高教你星夜8</span><span class="stars stars-4 clearfix"><span class="star-black"></span><span class="star-yellow"></span></span></a></div></div><div class="desc"><p class="teacher">授课老师：黄小雄8</p><p class="stu-num">报名人数：<span>2592</span>人</p></div></li>
			<li class="item"><div class="image-wrapper"><a target="_blank" href="#"><img src="http://img.yacol.com/export/sites/yacol/life/images/bjjy1.jpg" alt="梵高教你星夜8"></a><div class="name clearfix"><a href="#"><span class="text">梵高教你星夜8</span><span class="stars stars-4 clearfix"><span class="star-black"></span><span class="star-yellow"></span></span></a></div></div><div class="desc"><p class="teacher">授课老师：黄小雄8</p><p class="stu-num">报名人数：<span>2592</span>人</p></div></li>
	</ol>
</div>
{{/items}}