{{#items}}
<div class="item-list">
	<div class="clearfix category-wrapper">
		<p class="caption"></p>
		<ol class="category">
			{{#list}}
			<li class="c-item">
				<a href="{{link}}" target="_blank" data-value="{{type}}">{{name}}</a>
			</li>				
			{{/list}}						
			<!-- <li class="c-item">
				<a href="#" data-key="{$param_name}" data-value="{$param_value}">类别2</a>
			</li> -->			
			{{#more}}
			<li class="c-item more"> 
				<a href="{{link}}" target="_blank">更多》</a>
			</li>
			{{/more}}
		</ol>
	</div>
	<ol class="list i-list clearfix">				
	</ol>
</div>
{{/items}}