<div class="item-list">
	<header class="clearfix">
		<p class="caption">课程推荐</p>
		<ol class="category">
			<li class="c-item active"><a href="#">艺术类</a></li>
			<li class="c-item"><a href="#">体育类</a></li>
			<li class="c-item"><a href="#">婴儿教育类</a></li>
			<li class="c-item"><a href="#">更多 》</a></li>
		</ol>
	</header>
	<ol class="list clearfix">
		<li class="item">
			<div class="image-wrapper">
				<img src="/img/test_img.png">
				<div class="name clearfix">
					<span class="text">梵高教你星夜</span>
					<div class="stars stars-1 clearfix">
						<span class="star-yellow"></span>
						<span class="star-black"></span>
					</div>
				</div>
			</div>
			<div class="desc">
				<p class="teacher">授课老师：黄小雄</p>
				<p class="stu-num">报名人数：<span>732</span>人</p>
			</div>
		</li>
		<li class="item">
			<div class="image-wrapper">
				<img src="/img/test_img.png">
				<div class="name clearfix">
					<span class="text">梵高教你星夜</span>
					<div class="stars stars-1 clearfix">
						<span class="star-yellow"></span>
						<span class="star-black"></span>
					</div>
				</div>
			</div>
			<div class="desc">
				<p class="teacher">授课老师：黄小雄</p>
				<p class="stu-num">报名人数：<span>732</span>人</p>
			</div>
		</li>
		<li class="item">
			<div class="image-wrapper">
				<img src="/img/test_img.png">
				<div class="name clearfix">
					<span class="text">梵高教你星夜</span>
					<div class="stars stars-1 clearfix">
						<span class="star-yellow"></span>
						<span class="star-black"></span>
					</div>
				</div>
			</div>
			<div class="desc">
				<p class="teacher">授课老师：黄小雄</p>
				<p class="stu-num">报名人数：<span>732</span>人</p>
			</div>
		</li>
		<li class="item">
			<div class="image-wrapper">
				<img src="/img/test_img.png">
				<div class="name clearfix">
					<span class="text">梵高教你星夜</span>
					<div class="stars stars-1 clearfix">
						<span class="star-yellow"></span>
						<span class="star-black"></span>
					</div>
				</div>
			</div>
			<div class="desc">
				<p class="teacher">授课老师：黄小雄</p>
				<p class="stu-num">报名人数：<span>732</span>人</p>
			</div>
		</li>
		<li class="item">
			<div class="image-wrapper">
				<img src="/img/test_img.png">
				<div class="name clearfix">
					<span class="text">梵高教你星夜</span>
					<div class="stars stars-1 clearfix">
						<span class="star-yellow"></span>
						<span class="star-black"></span>
					</div>
				</div>
			</div>
			<div class="desc">
				<p class="teacher">授课老师：黄小雄</p>
				<p class="stu-num">报名人数：<span>732</span>人</p>
			</div>
		</li>
		<li class="item">
			<div class="image-wrapper">
				<img src="/img/test_img.png">
				<div class="name clearfix">
					<span class="text">梵高教你星夜</span>
					<div class="stars stars-1 clearfix">
						<span class="star-yellow"></span>
						<span class="star-black"></span>
					</div>
				</div>
			</div>
			<div class="desc">
				<p class="teacher">授课老师：黄小雄</p>
				<p class="stu-num">报名人数：<span>732</span>人</p>
			</div>
		</li>
		<li class="item">
			<div class="image-wrapper">
				<img src="/img/test_img.png">
				<div class="name clearfix">
					<span class="text">梵高教你星夜</span>
					<div class="stars stars-1 clearfix">
						<span class="star-yellow"></span>
						<span class="star-black"></span>
					</div>
				</div>
			</div>
			<div class="desc">
				<p class="teacher">授课老师：黄小雄</p>
				<p class="stu-num">报名人数：<span>732</span>人</p>
			</div>
		</li>
		<li class="item">
			<div class="image-wrapper">
				<img src="/img/test_img.png">
				<div class="name clearfix">
					<span class="text">梵高教你星夜</span>
					<div class="stars stars-1 clearfix">
						<span class="star-yellow"></span>
						<span class="star-black"></span>
					</div>
				</div>
			</div>
			<div class="desc">
				<p class="teacher">授课老师：黄小雄</p>
				<p class="stu-num">报名人数：<span>732</span>人</p>
			</div>
		</li>
	</ol>
</div>