{{#searcher}}
<div class="searcher">
	<ul class="nav nav-tab" role="tablist">
	  <li class="active">
	  	<a href="#course-searcher" role="tab" data-toggle="tab">课程</a>
	  </li>
	  <li class="">
	  	<a href="#training-searcher" role="tab" data-toggle="tab">培训机构</a>
	  </li>
	  <li class="">
	    <a role="tab" data-toggle="tab" href="#organization-searcher">社团</a>    
	  </li>
	  <li class="">
	    <a role="tab" data-toggle="tab" href="#talking-searcher">主题讨论</a>    
	  </li>
	</ul>
	<div class="tab-content">
	  <div class="tab-pane fade active in" id="course-searcher">    
	  	<input type="text" class="search-text" placeholder="请输入课题名称、主题、关键词···">
	  	<a href="{{linkSearch}}" data-type="course" target="_blank" class="search-button btn btn-primary btn-lg">
	  		<span class="glyphicon glyphicon-search"></span>
	  		<span>搜一搜</span>
	  	</a>
	  	<ol class="new-list">
	  		<li class="new-item caption">新课推荐:</li>
	  		{{#newCourses}}
	  		<li class="new-item"><a href="{{link}}" target="_blank">{{name}}</a></li>
	  		{{/newCourses}}
	  	</ol>
	  </div>
	  <div class="tab-pane fade" id="training-searcher">
	  	<input type="text" class="search-text" placeholder="请输入培训机构名称、主题、关键词···">
	  	<a href="{{linkSearch}}" data-type="training" class="search-button btn btn-primary btn-lg">
	  		<span class="glyphicon glyphicon-search"></span>
	  		<span>搜一搜</span>
	  	</a>
	  	<ol class="new-list">
	  		<li class="new-item caption">新课推荐:</li>
	  		{{#newTrainings}}
	  		<li class="new-item"><a href="{{link}}" target="_blank">{{name}}</a></li>
	  		{{/newTrainings}}
	  	</ol>

	  </div>
	  <div class="tab-pane fade" id="organization-searcher">
	    <input type="text" class="search-text" placeholder="请输入社团名称、主题、关键词···">
	  	<a href="{{linkSearch}}" data-type="organization" class="search-button btn btn-primary btn-lg">
	  		<span class="glyphicon glyphicon-search"></span>
	  		<span>搜一搜</span>
	  	</a>
	  	<ol class="new-list">
	  		<li class="new-item caption">新课推荐:</li>
	  		{{#newOrganizations}}
	  		<li class="new-item"><a href="{{link}}" target="_blank">{{name}}</a></li>
	  		{{/newOrganizations}}
	  	</ol>

	  </div>
	  <div class="tab-pane fade" id="talking-searcher">
	    <input type="text" class="search-text" placeholder="请输入主题讨论名称、主题、关键词···">
	  	<a href="{{linkSearch}}" data-type="discussion" class="search-button btn btn-primary btn-lg">
	  		<span class="glyphicon glyphicon-search"></span>
	  		<span>搜一搜</span>
	  	</a>
	  	<ol class="new-list">
	  		<li class="new-item caption">新课推荐:</li>
	  		{{#newDiscussion}}
	  		<li class="new-item"><a href="{{link}}" target="_blank">{{name}}</a></li>
	  		{{/newDiscussion}}
	  	</ol>
	  </div>
	</div>
</div>
{{/searcher}}