<!--页尾开始-->
<div class="link"> 友情链接：<a href="#" target="_blank">网易企业邮箱</a><a href="#" target="_blank">网易彩票</a><a href="#" target="_blank">网易优惠券</a><a href="#" target="_blank">企业黄页</a> </div>
<div class="foot_box">
  <div class="foot">
    <div class="left"><a href="#" target="_blank">关于我们</a>- <a href="#" target="_blank">公司简介</a>- <a href="#" target="_blank">联系方式</a>- <a href="#" target="_blank">招聘信息</a>- <a href="#" target="_blank">客户服务</a>- <a href="#" target="_blank">相关法律</a>- <a href="#" target="_blank">网络营销</a>- <a href="#" target="_blank">网站地图</a>- <a href="#" target="_blank">用户体验升级计划</a></div>
    <div class="right">©1997-2014 极动教室版权所有</div>
  </div>
</div>

<!--页尾结束--> 