@charset "UTF-8";
/**
 * 基本样式
 */
body {
  background: white; }

ol, ul {
  list-style: none;
  padding: 0; }

/**
 * 头部样式
 */
.header-wrapper {
  background: #f0f0f0; }

/*
栅格样式
 */
.container-fluid {
  min-width: 1000px;
  max-width: 1240px;
  margin: auto;
  padding: 0 20px; }

/*
导航样式
 */
.nav-main li {
  display: block;
  float: left;
  font-size: 18px;
  font-weight: bold; }

.nav-tab {
  margin-right: 0; }
  .nav-tab > li {
    float: left; }
    .nav-tab > li.active a {
      background: white; }
    .nav-tab > li a {
      border-right: 1px solid #e4e4e4;
      background: #f0f0f0; }
      .nav-tab > li a.last-child {
        border-right: none; }

body:before {
  content: " ";
  height: 6px;
  display: block;
  background-color: #353535; }

.header {
  padding-top: 12px; }
  .header a {
    color: #333333; }
  .header .logo-wrapper .logo {
    float: left;
    width: 60px;
    margin-right: 5px; }
  .header .logo-wrapper a {
    display: block;
    text-decoration: none; }
  .header .logo-wrapper .text {
    display: block;
    vertical-align: top; }
  .header .logo-wrapper .text span {
    display: block; }
  .header .logo-wrapper .word {
    font-size: 36px;
    font-weight: bold; }
  .header .logo-wrapper .url {
    position: relative;
    top: -12px; }
  .header .nav-wrapper {
    margin-top: 6px; }
    .header .nav-wrapper li a {
      padding-left: 9.6px;
      padding-right: 9.6px; }
    .header .nav-wrapper li.active a {
      color: #f98604; }
    .header .nav-wrapper li.active .active-top {
      display: block;
      background: url(/img/nav_active.png) no-repeat;
      height: 12px;
      position: absolute;
      width: 100%;
      top: -24px; }
  .header .login-wrapper {
    margin-top: 6px;
    text-align: right; }
    .header .login-wrapper span {
      margin: 12px 0;
      font-size: 18px;
      padding: 0 5%;
      float: right; }
    .header .login-wrapper .glyphicon {
      color: #f98604;
      margin-right: 12px;
      padding-top: 2px; }
    .header .login-wrapper .register {
      border-left: 1px solid #919191; }
    .header .login-wrapper .login, .header .login-wrapper .register {
      cursor: pointer; }

.searcher {
  border: 4px solid #f98604;
  border-radius: 3px;
  background-color: white;
  font-size: 16px; }
  .searcher .nav-tab > li {
    width: 25%;
    text-align: center; }
    .searcher .nav-tab > li > a {
      padding: 15px 0; }
  .searcher .tab-pane {
    padding: 10% 8% 3%; }
    .searcher .tab-pane .search-text {
      height: 48px;
      padding: 12px;
      color: #428bca;
      width: 100%;
      margin-bottom: 18px; }
    .searcher .tab-pane .new-list {
      list-style: none;
      margin: 0;
      padding: 0;
      margin-top: 18px; }
    .searcher .tab-pane .new-item {
      display: inline;
      margin: 1.2px;
      font-size: 14px; }
    .searcher .tab-pane .caption {
      color: #f98604; }

.carousel .item img {
  height: 350px;
  max-width: auto; }

.item-list .caption {
  font-size: 18px;
  font-weight: bold;
  float: left; }
.item-list .category {
  float: left;
  padding: 3px 0;
  margin-left: 15px; }
  .item-list .category .c-item {
    float: left;
    padding: 0 15px;
    border-right: 1px solid #919191; }
    .item-list .category .c-item:hover a {
      background-color: #f0f0f0;
      border-radius: 3px; }
    .item-list .category .c-item.active a {
      background-color: #f98604;
      border-radius: 3px;
      color: white; }
    .item-list .category .c-item:last-child {
      border-right: none; }
    .item-list .category .c-item a {
      padding: 3px 10px; }
.item-list .list {
  margin-top: 15px;
  margin-bottom: 0; }
  .item-list .list .item {
    float: left;
    width: 22.5%;
    margin-right: 1.7%;
    margin-bottom: 40px; }
  .item-list .list .image-wrapper {
    position: relative; }
    .item-list .list .image-wrapper img {
      width: 100%;
      height: 130px; }
    .item-list .list .image-wrapper .name {
      position: absolute;
      bottom: 0;
      background: rgba(0, 0, 0, 0.3);
      width: 100%;
      color: white;
      padding: 3px 10px; }
      .item-list .list .image-wrapper .name .text {
        width: 50%;
        display: block;
        text-overflow: ellipsis;
        float: left;
        white-space: pre; }
      .item-list .list .image-wrapper .name .stars {
        float: right;
        position: relative; }
        .item-list .list .image-wrapper .name .stars div {
          display: block; }
        .item-list .list .image-wrapper .name .stars div:after {
          content: "\e006 \e006 \e006 \e006 \e006";
          font-family: "Glyphicons Halflings";
          position: relative;
          overflow: hidden;
          display: block;
          height: 20px; }
        .item-list .list .image-wrapper .name .stars .star-yellow:after {
          color: #ffdc00;
          z-index: 1; }
        .item-list .list .image-wrapper .name .stars .star-black:after {
          color: #d6d4d9;
          margin-top: -20px; }
      .item-list .list .image-wrapper .name .stars-1 .star-yellow:after {
        width: 13px; }
      .item-list .list .image-wrapper .name .stars-2 .star-yellow:after {
        width: 26px; }
      .item-list .list .image-wrapper .name .stars-3 .star-yellow:after {
        width: 39px; }
      .item-list .list .image-wrapper .name .stars-4 .star-yellow:after {
        width: 52px; }
  .item-list .list .desc .teacher {
    margin: 10px 0 3px; }
  .item-list .list .desc .stu-num {
    margin: 0; }
    .item-list .list .desc .stu-num span {
      color: #f98604; }

.ranking-list .caption {
  font-size: 21px;
  margin: 0;
  padding-bottom: 10px;
  border-bottom: 2px solid #f98604; }
.ranking-list .list {
  margin-top: 15px;
  font-size: 13px; }
  .ranking-list .list li {
    padding: 6px 0;
    border-bottom: 1px dotted #919191; }
    .ranking-list .list li:last-child {
      border-bottom: none; }
  .ranking-list .list .num {
    font-size: 12px;
    color: #949494;
    float: right; }
.ranking-list .category h3 {
  font-size: 16px;
  margin-bottom: 12px; }
  .ranking-list .category h3 a.more {
    font-size: 13px;
    float: right;
    margin-top: 3px; }
.ranking-list .category .c-list {
  line-height: 23px; }
.ranking-list .category li {
  display: inline;
  margin-right: 20px;
  white-space: nowrap; }

.footer .caption {
  font-size: 21px;
  text-align: center; }
.footer .banner {
  height: 90px;
  background: #d00a2e;
  color: #e9dabd;
  margin: 20px auto;
  font-size: 21px;
  position: relative;
  font-weight: bold; }
  .footer .banner .desc {
    margin-left: 140px; }
    .footer .banner .desc span {
      display: block;
      float: left;
      padding-top: 31px; }
    .footer .banner .desc .num {
      font-size: 40px;
      padding: 16px 58px 17px 40px;
      background: url(/img/num_log.png) no-repeat;
      letter-spacing: 5px; }
  .footer .banner .contact-us {
    position: absolute;
    right: 13px;
    line-height: 60px;
    background: #ffdc00;
    border-radius: 3px;
    top: 15px;
    padding: 0 80px 0 35px;
    color: #d00a2e; }
    .footer .banner .contact-us .glyphicon.glyphicon-chevron-right {
      border: 1px solid #d00a2e;
      border-radius: 33px;
      background: #d00a2e;
      color: #ffdc00;
      display: block;
      position: absolute;
      right: 20px;
      top: 14px;
      height: 30px;
      width: 30px;
      padding: 3px 0 0 3px; }
.footer .list {
  width: 101.7%; }
  .footer .list li {
    float: left;
    width: 15%;
    max-height: 100%;
    margin-right: 1.66%;
    margin-bottom: 1.66%; }
    .footer .list li img {
      width: 100%; }
.footer .footer-text {
  position: relative;
  margin-bottom: 20px; }
  .footer .footer-text p {
    margin: 0;
    color: #949494;
    font-size: 12px; }
  .footer .footer-text .copyright {
    padding-top: 15px;
    border-top: 1px dotted; }
  .footer .footer-text .links {
    position: absolute;
    top: 18px;
    right: 15px; }
    .footer .footer-text .links .link:after {
      content: "-";
      margin: 0 1px 0 3px;
      color: #f0f0f0; }

.carridor {
  background: #cfe0ea; }

.searcher {
  margin: 48px 0 0; }

.recommander {
  margin-top: 24px; }

.item-list {
  width: 93%; }

.ranking-list {
  width: 137%;
  margin-left: -48%; }

.organization {
  margin-top: 35px;
  padding-top: 30px;
  background: #f0f0f0; }

.banner {
  width: 100%;
  height: 90px; }

/*# sourceMappingURL=index.css.map */
