@import "varable";
@import "mixins";
$light-grey-color: rgb(228,228,228);
/**
 * 基本样式
 */
body {
	background: $white-color;
	font-family: "微软雅黑", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
ol, ul {
	list-style: none;
	padding: 0;	
}
/**
 * 头部样式
 */
.header-wrapper {
	background: $grey-color;
}
/*
栅格样式
 */
.container-fluid {
	width: 1240px * $size-unit;	
	margin: auto;
	padding: 0 20px * $size-unit;
}
/*
导航样式
 */
.nav-main li {
	display: block;
	float: left;
	font-size: $medium-font;
	font-weight: bold;
}
.nav-tab {	
		
	& > li {
		float: left;
		&.active a{
			background: $white-color;
		}
		a {					
			border-right: 1px solid $light-grey-color;
			background: $grey-color;
			&.last-child {
				border-right: none;
			}
		}
	}		
	margin-right: 0;
}
