@import "varable";

body:before {
	content: " ";
	height: 6px * $size-unit;
	display: block;
	background-color: $sub-color;
}
.header {
	padding-top: 12px * $size-unit;
	a {
		color: $black-font;
	}
	.logo-wrapper {

		.logo {
			display: inline-block;
			vertical-align: top;
		}
		a {
			display: block;
			text-decoration: none;			
		}
		.text {
			display: inline-block;
			vertical-align: top;
		}
		.text span {
			display: block;
		}
		.word {
			font-size: $xl-font;
			font-weight: bold;
		}
		.url {
			position: relative;
			top: -12px * $size-unit;
		}
	}
	.nav-wrapper {
		margin-top: 6px * $size-unit;
		li {
			a {
				padding-left: 9.6px * $size-unit;
				padding-right: 9.6px * $size-unit;
			}
			&.active a{
				color: $main-color;
			}

			&.active:before {
				content: " ";
				display: block;
				background: url(/img/nav_active.png) no-repeat;
				height: 12px * $size-unit;
				position: absolute;
				width: 100%;
				top: -24px * $size-unit;				
			}
		}
	}		
	.login-wrapper {
		margin-top: 6px * $size-unit;
		text-align: right;

		span {
			margin: 12px * $size-unit 0;
			font-size: $medium-font;
			padding: 0 5%;
			float: right;		
		}
		.glyphicon {
			color: $main-color;
			margin-right: 12px * $size-unit;
		}
		.register {
			border-left: 1px solid $grey-border-color;
		}
		.login, .register {
			cursor: pointer;
		}
	}
}
