@import "varable";
@import "mixins";

@mixin stars-count($num) {
	.stars-#{$num} {
		.star-yellow {
			width: 13px * $num;
		}
	}
}

.item-list {
	.caption {
		font-size: $medium-font;
		font-weight: bold;
		float: left;
	}
	.category {
		float: left;
		padding: 3px * $size-unit 0;
		margin-left: 15px * $size-unit;

		.c-item {
			float: left;
			padding: 0 15px * $size-unit;
			border-right: 1px solid $grey-border-color;
			
			&:hover {
				a {
					background-color: $grey-color;
					border-radius: 3px;					
				}
			}
			&.active {
				a {
					background-color: #f98604;
					border-radius: 3px;
					color: $white-color;
				}
			}
			
			&:last-child {
				border-right: none;
			}

			a {
				padding: 3px * $size-unit 10px * $size-unit;
			}
		}
	}
	.list {
		margin-top: 15px * $size-unit;
		margin-bottom: 0;
		.item {
			float: left;
			width: 22.5%;
			margin-right: 1.7%;
			margin-bottom: 40px * $size-unit;
		}
		.image-wrapper {
			position: relative;
			display: block;
			img {
				width: 100%;
				height: 130px * $size-unit;
			}
			.name {
				a {
					display: block;
				}
				position: absolute;
				bottom: 0;
				left: 0;
				box-sizing: border-box;
				@include transparent(#000, 0.3);
				
				width: 100%;				
				padding: 3px * $size-unit 10px * $size-unit;

				.text {
					width: 50%;
					display: block;
					text-overflow: ellipsis;
					float: left;				
					white-space: pre;
					color: $white-color;
					overflow: hidden;
				}

				.stars {
					float: right;
					display: block;
					position: relative;
					span {
						display: block;
						width: auto;
						white-space: pre;
						color: transparent;
						height: 20px;						
					}
					span:before {
						content: "\e006 \e006 \e006 \e006 \e006";						
						position: relative;
						overflow: hidden;
						display: block;
						height: 20px * $size-unit;
					}
					.star-yellow:before {
						color: $yellow-color;
						z-index: 1;
						margin-top: -20px;
					}
					.star-black:before {
						color: rgb(214,212,217);						
					}				

				}
				@for $i from 1 to 5 {
					@include stars-count($i);
				}

				
			}
		}
		.desc {
			font-family: "宋体";

			.teacher {
				margin: 10px * $size-unit 0 3px * $size-unit;
			}
			.stu-num {
				margin: 0;
				span {
					color: $main-color;
				}
			}
		}
	}
}