@import "varable";

.ranking-list {
	.caption {
		font-size: $large-font;
		margin: 0;
		padding-bottom: 10px * $size-unit;
		border-bottom: 2px solid $main-color;
	}
	.list {
		margin-top: 15px * $size-unit;
		font-size: $default-font ;
		font-family: "宋体";

		li {
			padding: 6px 0;
			border-bottom: 1px dotted $grey-border-color;
			&:last-child {
				border-bottom: none;
			}
		}

		.num {
			font-size: $xxs-font;
			color: $grey-font;
			float: right;
		}
	}
	.category {
		h3 {
			font-size: $small-font;		
			margin-bottom: 12px;	
			span {
				float: left;
			}
			a.more {
				font-size: $default-font;
				float: right;
				margin-top: 3px * $size-unit;
			}
		}
		.c-list {
			line-height: 23px;
		}
		li {
			display: inline;
			margin-right: 20px;
			white-space: nowrap;
		}
	}
}