$main-color: rgb(251,77,7);
$sub-color: rgb(53,53,53);
$grey-color: rgb(240,240,240);
$white-color: rgb(255,255,255);
$grey-border-color: rgb(145,145,145);

$black-font: #333;

$large-font: 3.5rem;
$medium-font: 1.8rem;
$small-font: 1.4rem;
$xs-font: 1.4rem;

