<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />   
    <link rel='stylesheet' href='/stylesheets/lib/bootstrap-theme.css' />
    <link rel='stylesheet' href='/stylesheets/lib/bootstrap.css' /> 
    <script data-main="javascripts/index" src="javascripts/lib/require.js"></script>
  </head>
  <body>
    <h1>{{ title }}</h1>
    <p>Welcome to {{ title }}</p>
    <div class="wrapper">

        <a href="#menu" data-toggle="dropdown">jack1</a>
        <ul class="dropdown-menu" role="menu">
          <li>asdf1</li>
          <li>asdf2</li>
        </ul>
    </div>
    <div class="wrapper">
        <ul class="dropdown-menu" role="menu" id="menu">
          <li>asdf1</li>
          <li>asdf2</li>
        </ul>
    </div>
    

  </body>
</html>